@(newsForm: Form[News], user: String)
@main("Редактирование новости", user) {
<table class="table table-bordered">
	<tr>
		<td>
			<ul class="nav nav-pills">
				<li><a style="cursor: pointer;" href="/">Главная</a></li>
				@if(user != "") {
				<li class="active"><a href="@routes.Admin.add()" style="cursor: pointer;">Добавить новость</a></li>
				}
			</ul>
		</td>
	</tr>
	<tr>
		<td>
			<table width="100%">
				<tr>
					<td>
					@helper.form(routes.Admin.edit(newsForm("id").value)) {
						<legend>Редактировать новость</legend>
						<input type="hidden" name="id" value="@newsForm("id").value" />
						<input type="hidden" name="author" value="@newsForm("author").value" />
						@input(newsForm("topic"), "Заголовок", "", 'type -> "text", 'placeholder -> "Название новости")
						@textarea(newsForm("content"), "Текст новости", 'rows -> 6)
						<input type="submit" class="btn btn-primary" value="Редактировать" />
					}   
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>
}
