@(newslist: List[News], user: String)
@main("Главная", user) {
<table class="table table-bordered">
	<tr>
		<td>
			<ul class="nav nav-pills">
				<li class="active"><a style="cursor: pointer;" href="/">Главная</a></li>
				@if(user != "") {
				<li><a href="@routes.Admin.addNews()" style="cursor: pointer;">Добавить новость</a></li>
				}
			</ul>
		</td>
	</tr>
	<tr>
		<td>
			<table width="100%">
			@for(n <- newslist) {
				<tr><td>@newstpl(n, user != "")</td></tr>
			}
			</table>
		</td>
	</tr>
</table>
}
