@(regForm: Form[Login])
@main("Регистрация", "") {
	@helper.form(routes.Auth.register()) {
	@input(regForm("sgroup"), "", "", 'type -> "hidden")
	<table width="100%">
		<tr>
			<td width="40%"></td>
			<td>@input(regForm("nick"), "Ник", "", 'type -> "text")</td>
			<td width="40%"></td>
		</tr>
		<tr>
			<td width="40%"></td>
			<td>@input(regForm("email"), "Email", "", 'type -> "email")</td>
			<td width="40%"></td>
		</tr>
		<tr>
			<td width="40%"></td>
			<td>@input(regForm("password"), "Пароль", "", 'type -> "password")</td>
			<td width="40%"></td>
		</tr>
		<tr>
			<td width="40%"></td>
			<td style="text-align: right">
			    <div class="form-group">
					<button type="submit" class="btn btn-primary">Зарегистрироваться</button>
			    </div>
			</td>
			<td width="40%"></td>
		</tr>
    </table>
	}
}