@(regForm: Form[Login], error: String)
@main("Регистрация", "") {
	@helper.form(routes.Auth.register()) {
	<table width="100%">
		<tr>
			<td width="40%"></td>
			<td>@input(regForm("nick"), "Ник", if(error == "nick") {"nick"} else {""}, 'type -> "text")</td>
			<td width="40%"></td>
		</tr>
		<tr>
			<td width="40%"></td>
			<td>@input(regForm("email"), "Email", if(error == "email") {"email"} else {""}, 'type -> "email")</td>
			<td width="40%"></td>
		</tr>
		<tr>
			<td width="40%"></td>
			<td>@input(regForm("password"), "Пароль", "", 'type -> "password")</td>
			<td width="40%"></td>
		</tr>
		<tr>
			<td width="40%"></td>
			<td style="text-align: right">
			    <div class="form-group">
					<button type="submit" class="btn btn-primary">Зарегистрироваться</button>
			    </div>
			</td>
			<td width="40%"></td>
		</tr>
    </table>
	}
}